.btn-wrapper {
    display: inline-block;
    transition: all 5s ease;
    .btn {
        width: 300px;
        border-radius: 50px;
        font-size: 1.5em;
        text-align: center;
        font-weight: bold;
        display: block;
        padding: 0.4em 0.8em;
        transition: all  0.25s ease;
    }

    .btn--small {
        width: 150px;
        font-size: 0.8rem;
    }

    .btn--medium {
        width: 200px;
        font-size: 1rem;
    }
}